In [1]:
import pandas as pd
from sklearn import model_selection

In [2]:
df_train = pd.read_csv("../data/raw/train.csv")
random_state = 0

In [3]:
df_train["kfold"] = -1

In [4]:
kf = model_selection.KFold(n_splits=5, shuffle=True, random_state=random_state)

for fold, (train_indices, valid_indices) in enumerate(kf.split(X=df_train)):
    df_train.loc[valid_indices, "kfold"] = fold

In [5]:
df_train.to_csv("../data/processed/train_folds.csv", index=False)

In [6]:
df_train.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,kfold
0,0,Male,24.443011,1.699998,81.669950,yes,yes,2.000000,2.983297,Sometimes,no,2.763573,no,0.000000,0.976473,Sometimes,Public_Transportation,Overweight_Level_II,2
1,1,Female,18.000000,1.560000,57.000000,yes,yes,2.000000,3.000000,Frequently,no,2.000000,no,1.000000,1.000000,no,Automobile,Normal_Weight,3
2,2,Female,18.000000,1.711460,50.165754,yes,yes,1.880534,1.411685,Sometimes,no,1.910378,no,0.866045,1.673584,no,Public_Transportation,Insufficient_Weight,2
3,3,Female,20.952737,1.710730,131.274851,yes,yes,3.000000,3.000000,Sometimes,no,1.674061,no,1.467863,0.780199,Sometimes,Public_Transportation,Obesity_Type_III,2
4,4,Male,31.641081,1.914186,93.798055,yes,yes,2.679664,1.971472,Sometimes,no,1.979848,no,1.967973,0.931721,Sometimes,Public_Transportation,Overweight_Level_II,3

In [7]:
df_train.kfold.value_counts()

kfold
2    4152
0    4152
1    4152
3    4151
4    4151
Name: count, dtype: int64